body {
    background-color: #4584f4;
}

body {
    background-color: orange;
}

body h1 {
    color: #abcdef;
}

body p {
    background-color: #aa6677;
    color: white;
}

.zoeld {
    color: #00ff00;    
}

.pirimiri {
    color: #aa0000;
    text-align: center;
}

.dotted {
    border: 10px dotted blue;    
}

.dashed {
    border: 10px dashed blue;    
}

.solid {
    border: 10px solid blue;    
}

.double {
    border: 10px double blue;    
}

.groove {
    border: 10px groove blue;    
}

.ridge {
    border: 10px ridge blue;    
}

.inset {
    border: 10px inset blue;    
}

.outset {
    border: 10px outset blue;    
}

.dotted {
    border: 10px dotted blue;    
}

.none {
    border: 10px none blue;    
}

.hidden {
    border: 10px hidden blue;    
}